<ion-header>
  <ion-toolbar>
    <ion-title>codigoqr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-toolbar>
  <img src="/assets/icon/QRMUESTRA1.png"/>
</ion-toolbar>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button><ion-icon name="code"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button [routerLink]="['/pingreso']"><ion-icon name="arrow-back-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
